@model IEnumerable<Portfolio.Areas.Articles.Models.Article>
<body>
    <table id="articles" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th onclick="sortTable(0)">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th onclick="sortTable(0)">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-action="Preview" asp-route-id="@item.ArticleId">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#articles').DataTable();
            console.log("executed")
        });
    </script>
</body>