@model IEnumerable<Portfolio.Areas.Articles.Models.Article>

@{
    ViewData["Title"] = "Cheat Sheets";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="Articles" asp-controller="Articles" asp-action="Preview" asp-route-id="@item.ArticleId">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a asp-area="Articles" asp-controller="Articles" asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                <a asp-area="Articles" asp-controller="Articles" asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                <a asp-area="Articles" asp-controller="Articles" asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
