@model Portfolio.Areas.Articles.Models.Article
@using Portfolio.Areas.Articles.Data;
<head>
    <script type="text/javascript" src="~/js/site.min.js">
    </script>
</head>

<div class="container-fluid">
    <div class="row flex-sm-row-reverse">
        <div class="col-3 flex-sm-column-reverse">
            <div class="affix " id="sidebar">
                <div class="row">
                    <div class="col">
                        <h3>
                            Overview
                        </h3>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-primary"
                                type="button" data-toggle="collapse"
                                data-target="#overview"
                                aria-expanded="true"
                                aria-controls="collapse">
                            <span class="menu__icon menu__icon--close fa fa-angle-up" aria-hidden="true" id="icon">
                            </span>
                            <span class="menu__icon menu__icon--open fa fa-angle-down" aria-hidden="true" id="icon">
                            </span>
                        </button>
                    </div>
                </div>
                @if (Model.Sections != null)
                {
                    <div class="collapse show" id="overview">
                        <ul class="list-group">
                            @foreach (var item in Model.Sections)
                            {
                                <li class="list-group-item"><a href="#@item.Title">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="col-9">
            <h2>@Model.Title</h2>
            @if (@Model.Sections != null)
            {
                @foreach (var item in @Model.Sections)
                {
                    SectionBuilder sb;
                    if (item.Content == null)
                    {
                        sb = new SectionBuilder();
                    }
                    else
                    {
                        sb = SectionBuilder.Deserialize(item.Content);
                    }
                    sb.Title = item.Title;
                    sb.Id = item.SectionId;
                    @await Html.PartialAsync("../Sections/View", sb);
                    @*<h3 class="smooth-goto">
                                @item.Title

                                <button class="float-right btn btn-sm btn-outline-primary" type="button" data-toggle="collapse" data-target="#@item.Title" aria-expanded="true" aria-controls="collapse">
                                    <span class="menu__icon menu__icon--close fa fa-angle-up" aria-hidden="true" id="icon">
                                    </span>
                                    <span class="menu__icon menu__icon--open fa fa-angle-down" aria-hidden="true" id="icon">
                                    </span>
                                </button>
                            </h3>
                            <hr />
                            <div class="collapse collapse show" id="@item.Title">
                                <div class="breadcrumb">
                                    <div class="row">
                                        <div class="col">
                                            @if (@item.Content != null)
                                {
                                    @Html.Raw(@item.Content)
                                            }
                                            else
                                            {
                                                <p class="alert-danger">To Do! Missing Content.</p>
                                            }

                                            <hr />
                                            <div>
                                                @if (@item.Example != null)
                            {
                                                    <h4>Example</h4>
                                                    <pre><code class="html">@item.Example</code></pre>
                                                    @Html.Raw(@item.Example)
                        }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                }
            }
        </div>
    </div>
    <div class="row">
        <a asp-action="Index"><i class="fas fa-long-arrow-alt-left">  </i>Back</a>
    </div>
</div>