@model Portfolio.Areas.Articles.Models.Article

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<p>
    <a asp-controller="Sections" asp-action="Create" asp-route-id="@Model.ArticleId">Create New Section</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sections)
        {
            <tr>
                <td>
                    <a asp-controller="Sections" asp-action="View" asp-route-id="@item.SectionId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>

                <td>
                    <div class="btn-group">
                        <a asp-controller="Sections" asp-action="Edit" asp-route-id="@item.SectionId" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
                        <a asp-controller="Sections" asp-action="Delete" asp-route-id="@item.SectionId" class="btn btn-outline-danger"><i class="fas fa-times"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
